<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Brani della Playlist</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
</head>
<body>
    <h1>Brani della Playlist</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% else %}

    <ul>
        <a href="{{ url_for('home.home') }}" class="button">Torna alla Home</a>

        <a href="{{ url_for('spotify.saved_playlists') }}" class="button" onclick="showLoader()">Torna alle Playlist Salvate</a>

        <a href="{{ url_for('home.analisi', playlist_id=playlist_id) }}" class="button" onclick="showLoader()">Mostra i Grafici</a>

        {% for track in tracks %}
            <li>
                <strong>{{ track.name }}</strong> - {{ track.artist }} ({{ track.album }}, {{ track.release_year }})
                - Durata: {{ track.duration }}

                {% if track.cover %}
                    <img src="{{ track.cover }}" width="50" alt="Copertina album">
                {% endif %}

                <a href="{{ track.track_url }}" target="_blank" class="button">Ascolta su Spotify</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="loader-container" id="loader">
        <div class="loader"></div>
    </div>

    <script>
        function showLoader() {
            const loader = document.getElementById('loader');
            loader.style.display = 'flex';
        }

        // Nascondi il loader quando la pagina è completamente caricata
        window.onload = function() {
            const loader = document.getElementById('loader');
            loader.style.display = 'none';
        };

        // Mostra il loader quando si clicca sul link per tornare alla pagina delle playlist salvate
        const backToSavedPlaylistsLink = document.querySelector('a[href*="{{ url_for(\'spotify.saved_playlists\') }}"]');
        if (backToSavedPlaylistsLink) {
            backToSavedPlaylistsLink.addEventListener('click', function(e) {
                showLoader();
            });
        }

        // Aggiungi un ascoltatore di eventi al link che mostra i grafici
        const showChartsLink = document.querySelector('a[href*="analisi"]');
        if (showChartsLink) {
            showChartsLink.addEventListener('click', function(e) {
                e.preventDefault();
                showLoader();
                setTimeout(() => {
                    window.location.href = this.href;
                }, 100);
            });
        }
    </script>
</body>
</html>